@import "./fonts.scss";
@import "./colors.scss";

#root {
  background-color: black;
}

body {
  background-color: black;
  height: 100vh;
}

div.container {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.column {
  p {
    font-family: $body-font;
    color: white;
    font-size: 1.25rem;
    margin: 1rem;
  }
}

.section {
  h1,
  h2,
  h3 {
    font-family: $heading-font;
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
  }
  .section-header {
    margin-top: 2rem;
  }
}

footer {
  background-color: black;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;

  .footer-content {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  div.container {
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

}
