@import "./fonts.scss";
@import "./colors.scss";


#root {
  background-color: black;
}

body {
  background-color: black;
  height: 100%;
}

html {
  background-color: black;
  height: 100%;
}

div.container {
  margin-top: 15vh;
  padding-bottom: 10vh;
}

.fade {
  animation: fadein 1s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.column {
  p {
    font-family: $body-font;
    color: white;
    font-size: 1.1rem;
    margin: 1rem;
  }
}

.section {
  h1,
  h2,
  h3 {
    font-family: $heading-font;
    color: white;
  }

  .section-header {
    letter-spacing: -0.3rem;
    margin-top: 2rem;
  }
}

.section h1.title.is-1 {
  font-size: 2.25rem;
}

.section h2, .sub-title{
  font-size: 1.75rem;
}

.section h3, .sub-title {
  font-size: 1.5rem;
  letter-spacing: -0.3rem;
}

.section h2.people-name {
  font-size: 1.75rem;
}

footer {
  background-color: black;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;

  .footer-content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  div.container {
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  // footer {
  //   position: relative;
  // }

}
