$heading-font: "Roboto", sans-serif;
$body-font: "Helvetica", sans-serif;

.page-content {
  p {
    margin-left: 0;
    color: white;
  }
  a {
    color: white;
    text-decoration: underline;
  }
}

h3.sub-title {
  text-transform: capitalize;
  font-size: 1.75rem;
}
