html {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.content {
  font-family: "Neutraface", sans-serif;
  font-size: 1.2rem;
}


.company {
  position: absolute;
  top: 5vw;
  left: 2vw;
  width: 26vw;
  height: 26vw;
}

.news {
  position: absolute;
  top: 14vw;
  left: 35vw;
  width: 15vw;
  height: 15vw;
}

.shows {
  position: absolute;
  top: 3vw;
  left: 70vw;
  width: 20vw;
  height: 20vw;
}

.contact {
  position: absolute;
  top: 32vw;
  left: 14vw;
  width: 15vw;
  height: 15vw;
}

.people {
  position: absolute;
  top: 32vw;
  left: 45vw;
  width: 16vw;
  height: 16vw
}

.daydream {
  position: absolute;
  top: 26vw;
  left: 72vw;
  width: 15vw;
  height: 15vw;
}

.blank-one {
  display: block;
  position: absolute;
  top: 4vw;
  left: 28vw;
  width: 8vw;
  height: 8vw;
}

.blank-two {
  position: absolute;
  top: 7vw;
  left: 53vw;
  width: 9vw;
  height: 9vw;
}

.blank-three {
  position: absolute;
  top: 23vw;
  left: 60vw;
  width: 7vw;
  height: 7vw;
}

.blank-four {
  position: absolute;
  top: 32vw;
  left: 32vw;
  width: 9vw;
  height: 9vw;
}

.blank-five {
  position: absolute;
  top: 40vw;
  left: 62vw;
  height: 11vw;
  width: 11vw;
}

.blank-six {
  position: absolute;
  top: 23vw;
  left: 88vw;
  height: 5vw;
  width: 5vw;
}

.blank-seven {
  position: absolute;
  top: 45vw;
  left: 28vw;
  width: 8vw;
  height: 8vw;
}

.pumpkin {
  background-color: #FF7F11
}

.white {
  background-color: white;
}
.green {
  background-color: #4c934c;
}

.yellow {
  background-color: #ffb30f;
}

.blue {
  background-color: #009fb7;
}

.pink {
  background-color: #db6c79;
}


.circle {
  border-radius: 100%;
  text-align: center;
}

.red {
  background-color: #f32910;
}
h1.inner-circle {
  position: relative;
  top: 35%;
  left: 0%;
  color: black;
  text-transform: uppercase;
}

@font-face {
  font-family:"Neutraface";
  src: url('./assets/fonts/NeutraDisplay-Bold.ttf')
}

.logo {
  height: 100px;
  width: 200px;
  background-image: url('./assets/MoonAge-Logo--VectorFile.svg');
}
