@import "./common/fonts.scss";
@import "./common/colors.scss";

.home-wrapper {
  height: 90vh;
  width: 100%;
  background-color: black;
}

.company {
  position: absolute;
  top: 4vw;
  left: 5vw;
  width: 24vw;
  height: 24vw;
}

.news {
  position: absolute;
  top: 14vw;
  left: 32vw;
  width: 15vw;
  height: 15vw;
}

.logo-pos {
  position: absolute;
  top: 3vw;
  left: 70vw;
  width: 20vw;
  height: 20vw;
}

.people {
  position: absolute;
  top: 30vw;
  left: 14vw;
  width: 15vw;
  height: 15vw;
}

.contact {
  position: absolute;
  top: 36vw;
  left: 72vw;
  width: 16vw;
  height: 16vw;
}

.shows {
  position: absolute;
  top: 20vw;
  left: 58vw;
  width: 15vw;
  height: 15vw;
}

.blank-one {
  display: block;
  position: absolute;
  top: 4vw;
  left: 32vw;
  width: 8vw;
  height: 8vw;
}

.blank-two {
  position: absolute;
  top: 5vw;
  left: 50vw;
  width: 9vw;
  height: 9vw;
}

.blank-three {
  position: absolute;
  top: 20vw;
  left: 49vw;
  width: 7vw;
  height: 7vw;
}

.blank-four {
  position: absolute;
  top: 32vw;
  left: 32vw;
  width: 9vw;
  height: 9vw;
}

.daydream {
  position: absolute;
  top: 33vw;
  left: 45vw;
  height: 15vw;
  width: 15vw;
}

.blank-six {
  position: absolute;
  top: 28vw;
  left: 77vw;
  height: 5vw;
  width: 5vw;
}

.blank-seven {
  position: absolute;
  top: 40vw;
  left: 6vw;
  width: 8vw;
  height: 8vw;
}

.pumpkin {
  background-color: $pumpkin;
}

.white {
  background-color: $white;
}
.green {
  background-color: $green;
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.pink {
  background-color: $pink;
}

.circle {
  border-radius: 100%;
  text-align: center;
}

.red {
  background-color: $red;
}

.home-logo {
  position: relative;
  top: 13%;
  left: 0%;
}
h1.inner-circle {
  position: relative;
  top: 40%;
  left: 0%;
  color: black;
  text-transform: uppercase;
  font-family: $heading-font;
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .contact {
    position: absolute;
    top: 34vw;
    left: 70vw;
    width: 16vw;
    height: 16vw;
  }

  .blank-six {
    position: absolute;
    top: 25vw;
    left: 77vw;
    height: 5vw;
    width: 5vw;
  }
}

@media (min-width: 1366px) and (min-height: 768px) {
  h1.inner-circle {
    font-size: 5vh;
  }

  .daydream {
    height: 16vw;
    width: 16vw;
  }

  .contact {
    top: 32vw;
    left: 70vw;
  }

  .blank-six {
    top: 24vw;
    left: 77vw;
  }
}

@media (min-width: 1280px) and (min-height: 800px) {
  h1.inner-circle {
    font-size: 5vh;
  }

  .daydream {
    position: absolute;
    top: 33vw;
    left: 45vw;
    height: 18vw;
    width: 18vw;
  }
}

@media (min-width: 3840px) and (min-height: 2160px) {
  h1.inner-circle {
    font-size: 5vh;
  }
}

@media (min-width: 5120px) and (min-height: 2880px) {
  h1.inner-circle {
    font-size: 5vh;
  }

  .daydream {
    height: 16vw;
    width: 16vw;
  }
}

@media (min-width: 4095px) and (min-height: 2303px) {
  h1.inner-circle {
    font-size: 7vh;
  }
  .daydream {
    height: 16vw;
    width: 16vw;
  }
}

@media (min-width: 2880px) and (min-height: 1600px) {
  h1.inner-circle {
    font-size: 5vh;
  }
  .daydream {
    height: 16vw;
    width: 16vw;
  }
}

@media (min-width: 2560px) and (min-height: 1600px) {
  h1.inner-circle {
    font-size: 5vh;
  }
}

@media (width: 3000px) and (height: 2000px) {
  h1.inner-circle {
    font-size: 4vh;
  }
}

@media (width: 2560px) and (height: 1440px) {
  .daydream {
    height: 16vw;
    width: 16vw;
  }
}

@media (width: 1600px) and (height: 900px) {
  .daydream {
    height: 16vw;
    width: 16vw;
  }
}

@media (width: 1921px) and (height: 1080px) {
  .daydream {
    height: 16vw;
    width: 16vw;
  }
}

@media (max-width: 415px) {
  .company {
    position: absolute;
    top: 3vh;
    left: 5vh;
    width: 24vh;
    height: 24vh;
  }
  
  .news {
    position: absolute;
    top: 20vh;
    left: 28vh;
    width: 18vh;
    height: 18vh;
  }
  
  .logo-pos {
    position: absolute;
    top: 3vh;
    left: 35vh;
    width: 16vh;
    height: 16vh;
  }
  
  .people {
    position: absolute;
    top: 35vh;
    left: 8vh;
    width: 20vh;
    height: 20vh;
  }
  
  .contact {
    position: absolute;
    top: 65vh;
    left: 33vh;
    width: 20vh;
    height: 20vh;
  }
  
  .shows {
    position: absolute;
    top: 40vh;
    left: 35vh;
    width: 18vh;
    height: 18vh;
  }

    .daydream {
    position: absolute;
    top: 60vh;
    left: 8vh;
    height: 22vh;
    width: 22vh;
  }
  
  .blank-one {
    display: block;
    position: absolute;
    top: 4vh;
    left: 28vh;
    width: 6vh;
    height: 6vh;
  }
  
  .blank-two {
    position: absolute;
    top: 20vh;
    left: 47vh;
    width: 8vh;
    height: 8vh;
  }
  
  .blank-three {
    position: absolute;
    top: 58vh;
    left: 32vh;
    width: 7vh;
    height: 7vh;
  }
  
  .blank-four {
    position: absolute;
    top: 53vh;
    left: 3vh;
    width: 9vh;
    height: 9vh;
  }
  
  .blank-six {
    position: absolute;
    top: 82vh;
    left: 27vh;
    height: 5vh;
    width: 5vh;
  }
  
  .blank-seven {
    position: absolute;
    top: 28vh;
    left: 6vh;
    width: 7vh;
    height: 7vh;
  }

  .circle {
    border-radius: 100%;
    text-align: center;
  }

  h1.inner-circle {
    font-size: 4vh;
  }
}

@media (width: 411px) and (height: 823px) {
  .company {
    position: absolute;
    top: 2vh;
    left: 3vh;
    width: 20vh;
    height: 20vh;
  }
  
  .news {
    position: absolute;
    top: 18vh;
    left: 21vh;
    width: 18vh;
    height: 18vh;
  }
  
  .logo-pos {
    position: absolute;
    top: 3vh;
    left: 33vh;
    width: 16vh;
    height: 16vh;
  }
  
  .people {
    position: absolute;
    top: 35vh;
    left: 8vh;
    width: 20vh;
    height: 20vh;
  }
  
  .contact {
    position: absolute;
    top: 65vh;
    left: 28vh;
    width: 20vh;
    height: 20vh;
  }
  
  .shows {
    position: absolute;
    top: 38vh;
    left: 30vh;
    width: 18vh;
    height: 18vh;
  }

    .daydream {
    position: absolute;
    top: 60vh;
    left: 5vh;
    height: 22vh;
    width: 22vh;
  }
  
  .blank-one {
    display: block;
    position: absolute;
    top: 4vh;
    left: 25vh;
    width: 6vh;
    height: 6vh;
  }
  
  .blank-two {
    position: absolute;
    top: 21vh;
    left: 40vh;
    width: 8vh;
    height: 8vh;
  }
  
  .blank-three {
    position: absolute;
    top: 56vh;
    left: 28vh;
    width: 7vh;
    height: 7vh;
  }
  
  .blank-four {
    position: absolute;
    top: 53vh;
    left: 3vh;
    width: 7vh;
    height: 7vh;
  }
  
  .blank-six {
    position: absolute;
    top: 82vh;
    left: 24vh;
    height: 5vh;
    width: 5vh;
  }
  
  .blank-seven {
    position: absolute;
    top: 28vh;
    left: 6vh;
    width: 7vh;
    height: 7vh;
  }

  .circle {
    border-radius: 100%;
    text-align: center;
  }

  h1.inner-circle {
    font-size: 4vh;
  }
}

@media (width: 375px) and (height: 812px) {
  .home-wrapper {
    height: 111vh;
    width: 120vw;
    background-color: black;
  }
}



