@import './common/fonts.scss';
@import './common/colors.scss';

.home-wrapper {
  height: 90vh;
  width: 100%;
  background-color: black;
}

.company {
  position: absolute;
  top: 4vw;
  left: 5vw;
  width: 24vw;
  height: 24vw;
}

.news {
  position: absolute;
  top: 14vw;
  left: 32vw;
  width: 15vw;
  height: 15vw;
}

.logo-pos {
  position: absolute;
  top: 3vw;
  left: 70vw;
  width: 20vw;
  height: 20vw;
}

.people {
  position: absolute;
  top: 30vw;
  left: 14vw;
  width: 15vw;
  height: 15vw;
}

.contact {
  position: absolute;
  top: 36vw;
  left: 72vw;
  width: 16vw;
  height: 16vw
}

.shows {
  position: absolute;
  top: 20vw;
  left: 58vw;
  width: 15vw;
  height: 15vw;
}

.blank-one {
  display: block;
  position: absolute;
  top: 4vw;
  left: 32vw;
  width: 8vw;
  height: 8vw;
}

.blank-two {
  position: absolute;
  top: 5vw;
  left: 50vw;
  width: 9vw;
  height: 9vw;
}

.blank-three {
  position: absolute;
  top: 20vw;
  left: 49vw;
  width: 7vw;
  height: 7vw;
}

.blank-four {
  position: absolute;
  top: 32vw;
  left: 32vw;
  width: 9vw;
  height: 9vw;
}

.daydream {
  position: absolute;
  top: 33vw;
  left: 45vw;
  height: 15vw;
  width: 15vw;
}

.blank-six {
  position: absolute;
  top: 28vw;
  left: 77vw;
  height: 5vw;
  width: 5vw;
}

.blank-seven {
  position: absolute;
  top: 40vw;
  left: 6vw;
  width: 8vw;
  height: 8vw;
}

.pumpkin {
  background-color: $pumpkin;
}

.white {
  background-color:$white;
}
.green {
  background-color: $green;
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.pink {
  background-color: $pink;
}


.circle {
  border-radius: 100%;
  text-align: center;
}

.red {
  background-color: $red;
}

.home-logo {
  position: relative;
  top: 13%;
  left: 0%;
}
h1.inner-circle {
  position: relative;
  top: 40%;
  left: 0%;
  color: black;
  text-transform: uppercase;
  font-family: $heading-font;
  font-size: 2.75rem;
}
