@import './common/fonts.scss';

button.gallery-button {
  font-family: $heading-font;
  border: none;
  background: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  cursor: pointer;
}
